button {
  font-size: 14px;
  background-color: rgb(79, 16, 16);
  border: 1px solid rgb(79, 16, 16);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
  
  &:hover {
    background-color: rgba(79, 16, 16, 0.671);
    border: 1px solid rgba(79, 16, 16, 0.671);
  }
}

.selected-product {
  background-color: rgba(79, 16, 16, 0.073); 
  color: black; 
}

.botonMarcado {
  color: rgb(79, 16, 16);
  background-color: white;
  font-weight: bold;
}