<button
  (click)="botonFiltro15()"
  [ngClass]="{ botonMarcado: isFiltro15 === true }"
  class="b-filtro btn btn-primary m-2 w-50"
>
  Más de 15 €
</button>

<button
  (click)="botonFiltroValoracion()"
  [ngClass]="{ botonMarcado: isFiltroValoracion === true }"
  class="b-filtro btn btn-primary m-2 w-50"
>
  Más de 4.5
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    width="15"
    height="15"
    fill="#FFD700"
  >
    <path
      d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.54 5.82 22 7 14.14 2 9.27l6.91-1.01L12 2z"
    />
  </svg>
</button>

<button
  (click)="botonFiltroOpinion()"
  [ngClass]="{ botonMarcado: isFiltroOpinion === true }"
  class="b-filtro btn btn-primary m-2 w-50"
>
  Con opiniones
</button>

<button (click)="borrarFiltro()" class="btn btn-primary fw-bold mt-5 m-2 w-75">
  Eliminar Filtro
</button>

<div class="mt-5">
  <div class="fw-bold p-2">Productos</div>

  <div *ngIf="filteredProducts && filteredProducts.length > 0">
    <div
      class="d-flex align-items-center justify-content-between border-bottom p-2"
      *ngFor="let product of filteredProducts"
      [ngClass]="{ 'selected-product': product === selectedProduct }"
    >
      <div>{{ product.product }}</div>
      <button (click)="onChangeMainProduct(product)" class="btn btn-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          fill="currentColor"
        >
          <path d="M9 6l6 6-6 6" />
        </svg>
      </button>
    </div>
  </div>
</div>
