.star-rating {
  display: flex;
  align-items: center;

  div {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
  }
  .starempty {
    background-image: url("../../../../assets/images/emptystar.png");
  }

  .gold.starfull {
    background-image: url("../../../../assets/images/star.png");
  }

  .gold.starhalf {
    background-image: url("../../../../assets/images/rating.png");
  }

  .orange.starfull {
    background-image: url("../../../../assets/images/star-o.png");
  }

  .orange.starhalf {
    background-image: url("../../../../assets/images/rating-o.png");
  }

  .red.starfull {
    background-image: url("../../../../assets/images/star-r.png");
  }

  .red.starhalf {
    background-image: url("../../../../assets/images/rating-r.png");
  }
}
