<div
  id="c-suscripcion"
  class="container d-flex justify-content-center align-items-center flex-column"
>
  <p class="fs-3 fw-bold">Suscríbete para más información</p>
  <div class="d-flex justify-content-center align-items-center w-50">
    <input
      type="email"
      class="form-control me-3 w-50"
      placeholder="Escribe tu correo"
    />
    <button class="btn btn-primary fw-bold w-25">SUSCRIBIRSE</button>
  </div>
  <p class="p-nosotros mt-3">
    Suscríbete para recibir actualizaciones y unirse a nuestro grupo
  </p>
</div>

<div class="container p-5">
  <div class="row">
    <p class="col-12 text-center fw-bold fs-4 mb-5">Sobre nosotros</p>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <img
        src="../../../assets/images/descripcion.jpg"
        class="img-fluid rounded w-75 shadow"
      />
      <p class="fw-bold fs-5 mb-5 mt-3">Descripción de los Productos</p>
      <p class="p-nosotros">
        Cafés cultivados en regiones reconocidas por su excelencia, con notas
        únicas que reflejan su tierra de origen.
      </p>
      <p class="p-nosotros">
        Cada grano es tostado cuidadosamente para resaltar sus mejores
        características.
      </p>
      <p class="p-nosotros">
        Comprometidos con el medio ambiente, ofrecemos café 100% orgánico y de
        comercio justo, garantizando calidad y respeto por los productores.
      </p>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
      <img
        src="../../../assets/images/produccion.png"
        class="img-fluid rounded w-75 shadow"
      />
      <p class="fw-bold fs-5 mb-5 mt-3">Descripción de la Empresa</p>
      <p class="p-nosotros">
        Nacimos con la misión de compartir el amor por el café de especialidad.
      </p>
      <p class="p-nosotros">
        Seleccionamos granos de las mejores fincas alrededor del mundo.
      </p>
      <p class="p-nosotros">
        Ya sea que prefieras un café suave y afrutado o uno intenso y con
        cuerpo, encontrarás el café perfecto para cada momento.
      </p>
    </div>
  </div>
</div>

<div
  id="c-info"
  class="container d-flex justify-content-center align-items-center flex-column p-5"
>
  <p class="fs-4 fw-bold">Necesitas mas información</p>
  <p class="p-nosotros">
    Escríbenos un correo para recibir más información sobre los productos
  </p>
  <div class="d-flex justify-content-center align-items-center w-50 mt-3">
    <input
      type="email"
      class="form-control me-3 w-50"
      placeholder="Escribe tu correo"
    />
    <button class="btn btn-primary fw-bold w-25">ENVIAR</button>
  </div>
</div>
