<div id="nav" class="container border-bottom p-2">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="container col-6 d-flex">
      <img src="assets/images/coffee-logo.png" class="img-fluid ms-4" alt="Logo" />
    </div>
    <div
      class="container col-6 d-flex align-items-center justify-content-around"
    >
      <div>Inicio</div>
      <div>Nosotros</div>
      <div>Tienda</div>
      <div>Ayuda</div>
      <button class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
        <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zM7.01 16L6 4H4V2h3c.55 0 1.04.45 1.1 1l1.6 12h9.25c.83 0 1.54-.5 1.84-1.24l2.56-6.1-1.92-.78-2.56 6.1H9.03l-.51-4h12.62v-2H8.56l-.55-4H20V4H6.41l.6 8H7.01z"/>
      </svg>
       Carrito</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="container col-3 d-flex flex-column p-4">
      <button (click)="botonFiltro15()" class="btn btn-primary m-2 w-50">Más de 15 €</button>
      <button (click)="botonFiltroValoracion()" class="btn btn-primary m-2 w-50">Más de 4.5 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15" height="15" fill="#FFD700">
        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.54 5.82 22 7 14.14 2 9.27l6.91-1.01L12 2z"/>
      </svg> </button>
      <button (click)="botonFiltroOpinion()" class="btn btn-primary m-2 w-50">Con opiniones</button>

      <button (click)="borrarFiltro()" class="btn btn-primary fw-bold mt-5 m-2 w-75">Eliminar Filtro</button>

      <div class="mt-5">
        <div class="fw-bold p-2">Productos</div>

        <div class="d-flex align-items-center justify-content-between border-bottom p-2" *ngFor="let product of filteredProducts; let index = index">
          <div>{{ product.product }}</div>
          <button class="btn btn-primary" (click)="buttonClicked(product.product)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
            <path d="M9 6l6 6-6 6"/>
          </svg>
          </button>
        </div>
        
      </div>
    </div>

    <div class="container col-9 border-start">
      <div class="row border-bottom">

        <div class="col-6 container d-flex align-items-center justify-content-center">
          <img
          src="assets/images/{{mainProduct.image}}"
          class="img-fluid h-100 p-5"
          alt="Logo"
        />
        </div>

        <div class="col-6 d-flex flex-column">
          <div class="border-bottom container d-flex flex-column  mt-4 ">
            <p class="fw-bold fs-1">{{ mainProduct.product }}</p>

            <div>
              <p class="fs-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="27" height="27" fill="#FFD700">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.54 5.82 22 7 14.14 2 9.27l6.91-1.01L12 2z"/>
              </svg>
              {{ mainProduct.rating }}</p>

              <p class="mb-4">5 opiniones</p>
            </div>
          
          </div>
          <div class="container d-flex flex-column border-bottom">
            <p class="mt-4 mb-4 fs-4">{{ mainProduct.price }} €</p>
          </div>
          <div class="container d-flex flex-column border-bottom">
            <p class="mt-4 mb-4">
              {{ mainProduct.description }}
            </p>
          </div>
          <div class="container d-flex flex-column">
            <button (click)="eliminarProducto(mainProduct.product)" class="btn btn-primary mt-4 mb-4 w-50 fw-bold">Eliminar producto</button>
          </div>
        </div>
      </div>

      <div *ngIf="mainProduct.similarProducts.length > 0" id="similar-container" class="container border-bottom">
        <p class="fs-2 text-center p-2 mb-4">Productos Similares</p>
        <div class="row mb-4">
          <div 
            id="similars" 
            (click)="openModal(similarProduct.product)" 
            class="col-md-3 mb-4 container d-flex align-items-center justify-content-center p-3 border rounded shadow bg-white" 
            *ngFor="let similarProduct of mainProduct.similarProducts">
        
            <div class="me-4">
              <img src="assets/images/{{similarProduct.image}}" class="img-fluid" alt="Logo" />
            </div>
        
            <div>
              <div class="fw-bold">{{ similarProduct.product }}</div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14" height="14" fill="#FFD700">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.54 5.82 22 7 14.14 2 9.27l6.91-1.01L12 2z"/>
                </svg>
                {{ similarProduct.rating }}
              </div>
              <div class="similiar-text">{{ similarProduct.price }} €</div>
            </div>
          </div>
        </div>
      </div>

      <div id="modal" *ngIf="isModalOpen" class="modal-overlay shadow rounded" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">


          <div class="container col-12 border-start">
            <div class="row border-bottom">
      
              <div class="col-6 container d-flex align-items-center justify-content-center">
                <img
                src="assets/images/{{modalProduct?.image}}"
                class="img-fluid h-100 p-5"
                alt="Logo"
              />
              </div>
      
              <div class="col-6 d-flex flex-column">
                <div class="border-bottom container d-flex flex-column  mt-4 ">
                  <p class="fw-bold fs-1">{{ modalProduct?.product }}</p>
      
                  <div>
                    <p class="fs-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="27" height="27" fill="#FFD700">
                      <path d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.54 5.82 22 7 14.14 2 9.27l6.91-1.01L12 2z"/>
                    </svg>
                    {{ modalProduct?.rating }}</p>
      
                    <p class="mb-4">5 opiniones</p>
                  </div>
                
                </div>
                <div class="container d-flex flex-column border-bottom">
                  <p class="mt-4 mb-4 fs-4">{{ modalProduct?.price }} €</p>
                </div>
                <div class="container d-flex flex-column border-bottom">
                  <p class="mt-4 mb-4">
                    {{ modalProduct?.description }}
                  </p>
                </div>
                <button class="btn btn-primary fw-bold mb-4" (click)="closeModal()">Cerrar</button>
              </div>
            </div>
          </div>
      
        </div>
      </div>
      
      
      

      <div *ngIf="mainProduct.reviews.length > 0" class="container mb-5">
        <div class="row mt-4">
          <p class="fs-2 fw-bold m-3">Opiniones</p>
          <div *ngFor="let review of mainProduct.reviews" class="col-12 p-4">

            <div id="opinion" class="container d-flex align-items-center border rounded shadow">
              <div class="col-2 p-4">
                <img src="assets/images/{{review.image}}" class="img-fluid" alt="Logo" />
              </div>

              <div class="col-3 p-4">
                <div class="fw-bold">{{ review.name }}</div>
                <div>{{ review.date }}</div>
                <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#FFD700">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.54 5.82 22 7 14.14 2 9.27l6.91-1.01L12 2z"/>
                </svg> {{ review.rating }}</div>
              </div>
              
              <div class="col-7 p-4">
                <p>{{ review.opinion }}</p>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
