$primary-color: rgb(0, 179, 255);
$secondary-color: rgb(140, 222, 8);
$shadow-light: 5px 5px 10px rgba(0, 0, 0, 0.2);
$shadow-dark: 5px 0px 10px rgba(0, 0, 0, 0.3);
$border-light: 2px solid rgb(241, 231, 252);
$border-dark: 2px solid #c6effb;

nav img {
  height: 75px;
}

.carta-beneficio,
.c-opinion {
  border-radius: 5px;
  box-shadow: $shadow-light;
  padding: 20px;
}

.carta-beneficio {
  background-color: rgb(246, 242, 250);
  border: $border-light;
}

.c-opinion {
  background-color: #daf4fc;
  border: $border-dark;
}

#container-main img {
  box-shadow: $shadow-dark;
  border-radius: 10px;
}

.titulo,
.titulo-2,
.titulo-3 {
  font-size: 20px;
}

.titulo-2 {
  font-size: 12px;
}

.titulo-3 {
  font-size: 13px;
}

#container-options,
#container-plan,
#container-footer {
  background-color: rgb(242, 247, 250);
}

#container-plan button {
  margin-left: 10px;
}

.title1,
.title2 {
  border-bottom: 3px solid;
  font-weight: bold;
}

.title1 {
  color: $primary-color;
}

.title2 {
  color: $secondary-color;
}

.icon {
  box-shadow: $shadow-dark;
}

.c1,
.c2,
.c3 {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
}

.c1 {
  background-color: rgb(11, 181, 184);
}

.c2 {
  background-color: rgb(6, 101, 132);
}

.c3 {
  background-color: rgb(6, 6, 132);
}

.card1 {
  box-shadow: 2px 2px 10px rgb(11, 181, 184);
}

.card2 {
  box-shadow: 2px 2px 10px rgb(6, 101, 132);
}

.card3 {
  box-shadow: 2px 2px 10px rgb(6, 6, 132);
}

// Media Queries
@media (max-width: 768px) {
  #c-two,
  #form {
    width: 100%;
  }

  #container-two img {
    width: 100%;
    padding: 0;
  }

  #container-options {
    flex-direction: column;
  }

  #cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 10px;
  }

  .c-opinions {
    flex-direction: column;
    font-size: 12px;
    width: 330px;
  }

  .c-opinion {
    margin-bottom: 15px;
  }

  .b1 {
    font-size: 12px;
  }
}
