<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=favorite" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>

  <app-barra-navegacion></app-barra-navegacion>

  <div class="container">
    <div class="row">
      <div class="container col-3 d-flex flex-column p-4">
        <app-menu-lateral [products_list]="products" (buttonChangeMainProduct)="changeMainProduct($event)"></app-menu-lateral>
      </div>
    

      <div [ngClass]="{ 'favourite-div': mainProduct!.favourite === true }" class="container col-9 border-start">
        <app-main-product [main_product]="mainProduct" (buttonDeleteProduct)="deleteMainProduct($event)"></app-main-product>

        <app-similar-products [main_product]="mainProduct" (buttonOpenModal)="openModal($event)"></app-similar-products>

        <app-modal [modal_product]="modalProduct" [is_ModalOpen]="isModalOpen" (buttonCloseModal)="closeModal()"></app-modal>
      
        <app-opiniones [main_product]="mainProduct"></app-opiniones>
      </div>
    </div>
  </div>

</body>
</html>