button {
    font-size: 14px;
    background-color: rgb(79, 16, 16);
    border: 1px solid rgb(79, 16, 16);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s linear;
  
    &:hover {
      background-color: rgba(79, 16, 16, 0.671);
      border: 1px solid rgba(79, 16, 16, 0.671);
    }
}

span {
  margin-left: 35px;
  font-size: 35px;
  cursor: pointer;
}

.star {
  margin-left: 0;
  font-size: 25px;
}


.favourite {
  color: red;
}